[submodule "packages/delphinus-wallet"]
	path = packages/delphinus-wallet
	url = git@github.com:ZhenXunGe/delphinus-wallet.git
[submodule "packages/delphinus-solidity"]
	path = packages/delphinus-solidity
	url = git@github.com:ZhenXunGe/delphinus-solidity.git
[submodule "packages/delphinus-web3subscriber"]
	path = packages/delphinus-web3subscriber
	url = git@github.com:ZhenXunGe/delphinus-web3subscriber.git
[submodule "packages/delphinus-monitors"]
	path = packages/delphinus-monitors
	url = git@github.com:ZhenXunGe/delphinus-monitors.git
